---
import Marginer from '../components/Marginer.astro';
import PostCategoriesBar from '../components/PostCategoriesBar.astro';
import PostsPagePosts from '../components/PostsPagePosts.astro';

import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div>
    <PostCategoriesBar />
    <PostsPagePosts />
  </div>
  <Marginer margin="180px" />
</Layout>

<style>
  div {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 4fr;
  }
</style>
