---
type Props = {
  src: string;
  width?: string;
  height?: string;
};

const { src, width, height } = Astro.props;
---

<div class="code-snippet">
  <img src={src} width={width} height={height} />
</div>

<style>
  div {
    border-radius: 12px;
    padding: 10px;
    background-color: #011627;
  }
</style>
