---
import { mainPageTitle, mainPageDescription } from '../constants/MainPage';
import Marginer from './Marginer.astro';
---

<Marginer margin="20px" />
<h1>{mainPageTitle}</h1>
<Marginer margin="40px" />
<h2>{mainPageDescription}</h2>

<style>
  h1 {
    text-fill-color: transparent;
    background: linear-gradient(90.02deg, #06fdd8 1.06%, #0e9aff 102.58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: bold;
    font-size: 120px;
    line-height: 110%;
    white-space: pre-line;
  }

  h2 {
    font-size: 28px;
    font-weight: normal;
    line-height: 100%;

    padding-right: 25%;
  }
</style>
